<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Epic</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.18.2/cytoscape.min.js"
  integrity="sha512-CBGCXtszkG5rYlQSTNUzk54/731Kz28WPk2uT1GCPCqgfVRJ2v514vzzf16HuGX9WVtE7JLqRuAERNAzFZ9Hpw=="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dagre/0.8.5/dagre.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cytoscape-dagre@2.2.2/cytoscape-dagre.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/linkifyjs@3.0.5/dist/linkify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/linkify-html@3.0.5/dist/linkify-html.min.js"></script>

<body>
  <div class="leftColumn">
    <h3>Legend</h3>
    <ul class="legend">
      <li class="legend-entry">
        <span class="option">Backlog/Ready</span>
        <span class="circle darkblue" />
      </li>
      <li class="legend-entry">
        <span class="option">Blocker</span>
        <span class="circle red" />
      </li>
      <li class="legend-entry">
        <span class="option">In Progress</span>
        <span class="circle blue" />
      </li>
      <li class="legend-entry">
        <span class="option">Done</span>
        <span class="circle green" />
      </li>
    </ul>
  </div>
  <div class="rightColumn">
    <h1 id="title"></h1>
    <div id="details" class="epic_details">
      <p id="description"></p>
      <label class="form-label">Amount done:
        <div class="progress" style="width: 100px;">
          <div id="amount_done" class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </label>
    </div>
    <button onclick="resetZoom()">Reset Zoom</button>
    <label><input type="checkbox" checked onclick="toggleShowDone(this)"></input>Show Done</label>
    <div class="diagram" id="diagram"></div>
  </div>
</body>
<script>
  const config = {{{cytoscapeConfig}}};
  config.cytoscapeData.container = document.getElementById('diagram');
  let cy = cytoscape(config.cytoscapeData);
  let removedDoneElements = cy.collection();
  let removedUserStories = cy.collection();

  initLayout();

  cy.on('tap', 'node', function (evt) {
    const node = evt.target;
    window.open(node.data('link'));
  });

  cy.on('mouseover', 'node', function (evt) {
    document.body.style.cursor = 'pointer';
    this.shift({ x: 0, y: -1 });
  });

  cy.on('mouseout', 'node', function (evt) {
    document.body.style.cursor = 'default';
    this.shift({ x: 0, y: 1 });
  });

  function initLayout() {
    const stories_done = config.epicData.stats.num_stories_done;
    const total_stories = config.epicData.stats.num_stories_total;
    const amount_done = stories_done / total_stories;

    window.document.title = config.epicData.name;
    document.getElementById('title').innerHTML = config.epicData.name;
    document.getElementById('description').innerHTML = renderDescription(config.epicData.description);
    document.getElementById('amount_done').setAttribute('aria-valuenow', amount_done * 100);
    document.getElementById('amount_done').style.width = `${amount_done * 100}%`;
    document.getElementById('amount_done').innerHTML = formatPercentage(amount_done);
  }

  function renderDescription(description) {
    let temp = description.replaceAll("\n", "<br />");
    temp = linkifyHtml(temp, {defaultProtocol: "https"});
    return temp;
  }

  function formatPercentage(value) {
    const percentFormatter = new Intl.NumberFormat("en-CA", { style: "percent", maximumFractionDigits: 1 });
    return percentFormatter.format(value);
  }

  function resetZoom() {
    cy.layout({ name: config.cytoscapeData.layout.name }).run();
    cy.fit([], 30);
  }

  function toggleShowDone(e) {
    if (e.checked) {
      removedDoneElements.restore();
    } else {
      removedDoneElements = cy.filter(ele => ele.isNode() && ele.data().state === 'done').remove();
    }

    resetZoom();
  }

</script>

</html>
