body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.leftColumn {
  flex: 20%;
}

.rightColumn {
  flex: 80%;
}

.legend {
  font-size: smaller;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.legend-entry {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.darkblue {
  background-color: #063970;
}

.diagram {
  height: 80vh;
  display: block;
  border: 1px black solid;
}

.epic_details {
  font-size: smaller;
  line-height: 0.5rem;
  padding-left: 1rem;
}